.background {
color:pink;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color:#f8fdff;
    padding: 10px;
}
  
  .grid-container > div {
    background-color: #12519e;
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
  }

  .grid-container {
   font-family: 'Orbitron', sans-serif; 
  }
